<div>
    <div class="text-center mt-3">
        <h3>Promena lozinke</h3>
    </div>
    <div class="mt-4 p-3">
        <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="changePassword(oldP.value, newP.value)">

            <div class="form-group">
                <label for="firstName">Stara lozinka</label>
                <input class="form-control" type="text" id="firstName" #oldP tabindex="1" required/>
            </div>
            <div class="form-group">
                <label for="lastName">Nova lozinka</label>
                <input class="form-control" type="password" id="lastName" #newP tabindex="2" required />
            </div>

            
            <div class="float-right">
                <button class="btn btn-outline-primary mr-1" type="submit" tabindex="3">Promeni lozinku</button>
                <button class="btn btn-outline-warning" type="button" (click)="goBack()" tabindex="4">Odustani</button>
            </div>

        </form>
    </div>
</div>
